<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>userAddController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAddController</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userQueryController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserQueryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userQueryController</servlet-name>
        <url-pattern>/user/query</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userQueryByCodeController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserQueryByCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userQueryByCodeController</servlet-name>
        <url-pattern>/user/toupdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userUpdateController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userUpdateController</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userDeleteController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDeleteController</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
</web-app>
