<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>loginCheckFilter</filter-name>
        <filter-class>com.tywh.egov.filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginCheckFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>charactorFilter</filter-name>
        <filter-class>com.tywh.egov.filter.CharactorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>charactorFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>userAddController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAddController</servlet-name>
        <url-pattern>/controller/user/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userQueryController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserQueryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userQueryController</servlet-name>
        <url-pattern>/controller/user/query</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userQueryByCodeController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserQueryByCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userQueryByCodeController</servlet-name>
        <url-pattern>/controller/user/toupdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userUpdateController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userUpdateController</servlet-name>
        <url-pattern>/controller/user/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userDeleteController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDeleteController</servlet-name>
        <url-pattern>/controller/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUniqueCheckController</servlet-name>
        <servlet-class>com.tywh.egov.system.controller.UserUniqueCheckController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUniqueCheckController</servlet-name>
        <url-pattern>/controller/user/uniquecheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.tywh.egov.user.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/controller/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.tywh.egov.user.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/controller/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>investAddController</servlet-name>
        <servlet-class>com.tywh.egov.basicinfo.controller.InvestAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>investAddController</servlet-name>
        <url-pattern>/controller/invest/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>investQueryController</servlet-name>
        <servlet-class>com.tywh.egov.basicinfo.controller.InvestQueryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>investQueryController</servlet-name>
        <url-pattern>/controller/invest/query</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>enterQueryByCodeController</servlet-name>
        <servlet-class>com.tywh.egov.basicinfo.controller.EnterQueryByCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enterQueryByCodeController</servlet-name>
        <url-pattern>/controller/enter/queryByCode</url-pattern>
    </servlet-mapping>
</web-app>
